# Correlation Analysis at Target-Indicator Level

## Import libraries and read in data

In [2]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [70]:
#Read in data
Indonesia=pd.read_csv('https://github.com/PeishanLi/G5055_Practicum_Project2/raw/main/Data/processedIndo.csv')
Guatemala=pd.read_csv('https://github.com/PeishanLi/G5055_Practicum_Project2/raw/main/Data/processedGuate.csv')
Imeasures=pd.read_csv('https://github.com/PeishanLi/G5055_Practicum_Project2/raw/main/Data/measure_picked/Indo_measureIDs.csv')
Gmeasures=pd.read_csv('https://github.com/PeishanLi/G5055_Practicum_Project2/raw/main/Data/measure_picked/Gua_measureIDs.csv')

#A little preprocessing of data
Indonesia=Indonesia.drop('Unnamed: 0', axis=1)
Indonesia['UniqueIDNew']=[x.replace(" ","") for x in Indonesia['UniqueID']]
Guatemala=Guatemala.drop('Unnamed: 0', axis=1)
Guatemala['UniqueIDNew']=[x.replace(" ","") for x in Guatemala['UniqueID']]
Imeasures=Imeasures.drop('Unnamed: 0', axis=1)
Imeasures['xNew']=[x.replace(" ","") for x in Imeasures['x']]
Gmeasures=Gmeasures.drop('Unnamed: 0', axis=1)
Gmeasures['xNew']=[x.replace(" ","") for x in Gmeasures['x']]

In [73]:
Indonesia

                                   UniqueID  Goal  ...       Value   UniqueIDNew
0      SI_POV_DAY1                            1.0  ...     9.50000   SI_POV_DAY1
1      SI_POV_DAY1                            1.0  ...     7.30000   SI_POV_DAY1
2      SI_POV_DAY1                            1.0  ...     6.20000   SI_POV_DAY1
3      SI_POV_DAY1                            1.0  ...     5.80000   SI_POV_DAY1
4      SI_POV_DAY1                            1.0  ...     5.20000   SI_POV_DAY1
...                                     ...   ...  ...         ...           ...
4225  DC_FTA_TOTAL                           17.0  ...  3409.18378  DC_FTA_TOTAL
4226  DC_FTA_TOTAL                           17.0  ...  1053.97416  DC_FTA_TOTAL
4227  DC_FTA_TOTAL                           17.0  ...  1168.49150  DC_FTA_TOTAL
4228  DC_FTA_TOTAL                           17.0  ...  2042.80551  DC_FTA_TOTAL
4229  DC_FTA_TOTAL                           17.0  ...   886.47354  DC_FTA_TOTAL

[4230 rows x 8 columns]

In [74]:
Imeasures

                                           x                   xNew
0    SI_POV_EMP1 BOTHSEX                 15+  SI_POV_EMP1BOTHSEX15+
1               SI_POV_NAHC          ALLAREA     SI_POV_NAHCALLAREA
2     SI_COV_SOCAST                       Q1        SI_COV_SOCASTQ1
3              SP_ACS_BSRVH2O          RURAL    SP_ACS_BSRVH2ORURAL
4                      SP_LGL_LNDDOC BOTHSEX   SP_LGL_LNDDOCBOTHSEX
..                                       ...                    ...
175                              GB_XPD_RSDV            GB_XPD_RSDV
176                            GB_POP_SCIERD          GB_POP_SCIERD
177                            DC_TOF_INFRAL          DC_TOF_INFRAL
178  NV_IND_TECH                     ISIC4_C     NV_IND_TECHISIC4_C
179                            IT_MOB_4GNTWK          IT_MOB_4GNTWK

[180 rows x 2 columns]

## Filter data

Measure the measures picked using Rmd file with the original dataset, to identify which indicator of which target and goal it belongs to, and filters the original dataset for further correlation analysis at target-indicator level.

Method 1

In [75]:
FilteredIndo=pd.DataFrame()
FilteredGuate=pd.DataFrame()

In [81]:
def filter_data(df, filtered):
  for i in range(len(df)):
    if df['UniqueIDNew'][i] in Imeasures['xNew']:
      filtered=filtered.append(df.loc[i])
  #filtered.to_csv('/content/drive/MyDrive/Colab Notebooks/Practicum SDG Networks/Data/Indonesia data after selecting one measurement for each indicator.csv')
  #print('Filtering completed!')
  return filtered

In [82]:
filter_data(Indonesia, FilteredIndo)

                                            UniqueID  ...            UniqueIDNew
12    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
19    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
28    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
43    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
48    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
...                                              ...  ...                    ...
4225           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4226           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4227           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4228           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4229           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL

[874 rows x 8 columns]

Method 2

In [78]:
FilteredIndo=Indonesia.copy()
is_included=FilteredIndo['UniqueIDNew'].isin(Imeasures['xNew'])
FilteredIndo=FilteredIndo[is_included]
FilteredIndo.to_csv('/content/drive/MyDrive/Colab Notebooks/Practicum SDG Networks/Data/Indonesia data after selecting one measurement for each indicator.csv')
FilteredIndo

                                            UniqueID  ...            UniqueIDNew
12    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
19    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
28    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
43    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
48    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
...                                              ...  ...                    ...
4225           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4226           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4227           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4228           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4229           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL

[874 rows x 8 columns]

In [80]:
FilteredGuate=Guatemala.copy()
is_included=FilteredGuate['UniqueIDNew'].isin(Gmeasures['xNew'])
FilteredGuate=FilteredGuate[is_included]
FilteredGuate.to_csv('/content/drive/MyDrive/Colab Notebooks/Practicum SDG Networks/Data/Guatemala data after selecting one measurement for each indicator.csv')
FilteredGuate

                                            UniqueID  ...            UniqueIDNew
4     SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
10    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
25    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
28    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
38    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
...                                              ...  ...                    ...
4780           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4781           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4782           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4783           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4784           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL

[825 rows x 8 columns]

## Preprocess data into desired format

## Calculate correlation among indicators

In [91]:
def calculate_correlation(df):
  Alltargets=df['Target'].drop_duplicates()
  for target in Alltargets:
    Allindicators=list(df['Indicator'].drop_duplicates())
    if len(Allindicators)>1:
      group=df[df['Target']==target]
      group=group.drop(columns=['UniqueID','Goal','Target','SeriesCode','UniqueIDNew'],axis=1)
      group_pivot=group.pivot(index=['TimePeriod'], columns=['Indicator'], values='Value').reset_index()
      group_pivot=group_pivot.apply(lambda x:x.astype(float))
      correlation=group_pivot.corr()
      correlation=pd.DataFrame(correlation)
      correlation=correlation.drop('TimePeriod', axis=1)
      correlation=correlation.drop('TimePeriod', axis=0)
      path='/content/drive/MyDrive/Colab Notebooks/Practicum SDG Networks/Data/Indonesia Correlation among Indicators/Indonesia Correlation among Indicators of Target '+target+'.csv'
      correlation.to_csv(path)
      print('Target '+target+' completed')

In [92]:
calculate_correlation(FilteredIndo)

Target 1.1 completed
Target 1.2 completed
Target 1.3 completed
Target 1.4 completed
Target 1.5 completed
Target 1.a completed
Target 2.1 completed
Target 2.2 completed
Target 2.3 completed
Target 2.5 completed
Target 2.a completed
Target 2.b completed
Target 2.c completed
Target 3.1 completed
Target 3.2 completed
Target 3.3 completed
Target 3.4 completed
Target 3.5 completed
Target 3.6 completed
Target 3.7 completed
Target 3.8 completed
Target 3.9 completed
Target 3.a completed
Target 3.b completed
Target 3.c completed
Target 3.d completed
Target 4.1 completed
Target 4.2 completed
Target 4.3 completed
Target 4.4 completed
Target 4.5 completed
Target 4.7 completed
Target 4.a completed
Target 4.b completed
Target 5.2 completed
Target 5.3 completed
Target 5.5 completed
Target 5.a completed
Target 5.b completed
Target 6.2 completed
Target 6.4 completed
Target 6.5 completed
Target 6.6 completed
Target 6.a completed
Target 6.b completed
Target 7.1 completed
Target 7.2 completed
Target 7.3 completed
Target 7.a completed
Target 7.b completed
Target 8.1 completed
Target 8.10 completed
Target 8.2 completed
Target 8.3 completed
Target 8.4 completed
Target 8.5 completed
Target 8.6 completed
Target 8.8 completed
Target 8.9 completed
Target 8.a completed
Target 8.b completed
Target 9.1 completed
Target 9.2 completed
Target 9.3 completed
Target 9.4 completed
Target 9.5 completed
Target 9.a completed
Target 9.b completed
Target 9.c completed
Target 10.1 completed
Target 10.4 completed
Target 10.5 completed
Target 10.6 completed
Target 10.7 completed
Target 10.a completed
Target 10.b completed
Target 10.c completed
Target 11.1 completed
Target 11.5 completed
Target 11.6 completed
Target 11.a completed
Target 11.b completed
Target 12.1 completed
Target 12.2 completed
Target 12.3 completed
Target 12.4 completed
Target 12.6 completed
Target 12.8 completed
Target 12.a completed
Target 12.b completed
Target 12.c completed
Target 13.1 completed
Target 13.3 completed
Target 14.1 completed
Target 14.4 completed
Target 14.5 completed
Target 14.6 completed
Target 14.7 completed
Target 14.b completed
Target 15.1 completed
Target 15.2 completed
Target 15.3 completed
Target 15.4 completed
Target 15.5 completed
Target 15.6 completed
Target 15.8 completed
Target 15.9 completed
Target 15.a completed
Target 15.b completed
Target 16.1 completed
Target 16.10 completed
Target 16.2 completed
Target 16.3 completed
Target 16.5 completed
Target 16.6 completed
Target 16.7 completed
Target 16.8 completed
Target 16.9 completed
Target 16.a completed
Target 17.1 completed
Target 17.10 completed
Target 17.12 completed
Target 17.13 completed
Target 17.17 completed
Target 17.18 completed
Target 17.19 completed
Target 17.3 completed
Target 17.4 completed
Target 17.6 completed
Target 17.8 completed
Target 17.9 completed

In [95]:
def calculate_correlation(df):
  Alltargets=df['Target'].drop_duplicates()
  for target in Alltargets:
    Allindicators=list(df['Indicator'].drop_duplicates())
    if len(Allindicators)>1:
      group=df[df['Target']==target]
      group=group.drop(columns=['UniqueID','Goal','Target','SeriesCode','UniqueIDNew'],axis=1)
      group_pivot=group.pivot(index=['TimePeriod'], columns=['Indicator'], values='Value').reset_index()
      group_pivot=group_pivot.apply(lambda x:x.astype(float))
      correlation=group_pivot.corr()
      correlation=pd.DataFrame(correlation)
      correlation=correlation.drop('TimePeriod', axis=1)
      correlation=correlation.drop('TimePeriod', axis=0)
      path='/content/drive/MyDrive/Colab Notebooks/Practicum SDG Networks/Data/Guatemala Correlation among Indicators/Guatemala Correlation among Indicators of Target '+target+'.csv'
      correlation.to_csv(path)
      print('Target '+target+' completed')

In [96]:
calculate_correlation(FilteredGuate)

Target 1.1 completed
Target 1.2 completed
Target 1.3 completed
Target 1.4 completed
Target 1.5 completed
Target 1.a completed
Target 2.1 completed
Target 2.2 completed
Target 2.3 completed
Target 2.5 completed
Target 2.a completed
Target 2.c completed
Target 3.1 completed
Target 3.2 completed
Target 3.3 completed
Target 3.4 completed
Target 3.5 completed
Target 3.6 completed
Target 3.7 completed
Target 3.8 completed
Target 3.9 completed
Target 3.b completed
Target 3.c completed
Target 3.d completed
Target 4.1 completed
Target 4.2 completed
Target 4.3 completed
Target 4.5 completed
Target 4.7 completed
Target 4.b completed
Target 5.2 completed
Target 5.3 completed
Target 5.5 completed
Target 5.a completed
Target 6.2 completed
Target 6.4 completed
Target 6.5 completed
Target 6.6 completed
Target 6.a completed
Target 6.b completed
Target 7.1 completed
Target 7.2 completed
Target 7.3 completed
Target 7.a completed
Target 7.b completed
Target 8.1 completed
Target 8.10 completed
Target 8.2 completed
Target 8.3 completed
Target 8.4 completed
Target 8.5 completed
Target 8.6 completed
Target 8.8 completed
Target 8.a completed
Target 8.b completed
Target 9.1 completed
Target 9.2 completed
Target 9.3 completed
Target 9.4 completed
Target 9.5 completed
Target 9.a completed
Target 9.b completed
Target 9.c completed
Target 10.4 completed
Target 10.5 completed
Target 10.6 completed
Target 10.7 completed
Target 10.a completed
Target 10.b completed
Target 10.c completed
Target 11.1 completed
Target 11.5 completed
Target 11.6 completed
Target 11.a completed
Target 11.b completed
Target 12.1 completed
Target 12.2 completed
Target 12.3 completed
Target 12.4 completed
Target 12.6 completed
Target 12.8 completed
Target 12.a completed
Target 12.b completed
Target 12.c completed
Target 13.1 completed
Target 13.3 completed
Target 14.1 completed
Target 14.4 completed
Target 14.5 completed
Target 14.6 completed
Target 14.7 completed
Target 14.b completed
Target 15.1 completed
Target 15.2 completed
Target 15.3 completed
Target 15.4 completed
Target 15.5 completed
Target 15.6 completed
Target 15.8 completed
Target 15.a completed
Target 15.b completed
Target 16.10 completed
Target 16.2 completed
Target 16.3 completed
Target 16.5 completed
Target 16.6 completed
Target 16.8 completed
Target 16.9 completed
Target 16.a completed
Target 17.1 completed
Target 17.10 completed
Target 17.12 completed
Target 17.13 completed
Target 17.17 completed
Target 17.18 completed
Target 17.19 completed
Target 17.3 completed
Target 17.4 completed
Target 17.6 completed
Target 17.8 completed
Target 17.9 completed