# Filtering data after selecting one measurement for each indicator and one indicator for each target

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Import libraries and read in data

In [2]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
#Read in data
Indonesia=pd.read_csv('https://github.com/PeishanLi/G5055_Practicum_Project2/raw/main/Data/processedIndo.csv')
Guatemala=pd.read_csv('https://github.com/PeishanLi/G5055_Practicum_Project2/raw/main/Data/processedGuate.csv')
Imeasures=pd.read_csv('https://github.com/PeishanLi/G5055_Practicum_Project2/raw/main/Data/variables_picked/Indo_GTIM.csv')
Gmeasures=pd.read_csv('https://github.com/PeishanLi/G5055_Practicum_Project2/raw/main/Data/variables_picked/Gua_GTIM.csv')

#A little preprocessing of data
Indonesia=Indonesia.drop('Unnamed: 0', axis=1)
Indonesia['UniqueIDNew']=[x.replace(" ","") for x in Indonesia['UniqueID']]
Guatemala=Guatemala.drop('Unnamed: 0', axis=1)
Guatemala['UniqueIDNew']=[x.replace(" ","") for x in Guatemala['UniqueID']]
Imeasures['UniqueIDNew']=[x.replace(" ","") for x in Imeasures['UniqueID']]
Gmeasures['UniqueIDNew']=[x.replace(" ","") for x in Gmeasures['UniqueID']]

In [10]:
Indonesia

                                   UniqueID  Goal  ...       Value   UniqueIDNew
0      SI_POV_DAY1                            1.0  ...     9.50000   SI_POV_DAY1
1      SI_POV_DAY1                            1.0  ...     7.30000   SI_POV_DAY1
2      SI_POV_DAY1                            1.0  ...     6.20000   SI_POV_DAY1
3      SI_POV_DAY1                            1.0  ...     5.80000   SI_POV_DAY1
4      SI_POV_DAY1                            1.0  ...     5.20000   SI_POV_DAY1
...                                     ...   ...  ...         ...           ...
4225  DC_FTA_TOTAL                           17.0  ...  3409.18378  DC_FTA_TOTAL
4226  DC_FTA_TOTAL                           17.0  ...  1053.97416  DC_FTA_TOTAL
4227  DC_FTA_TOTAL                           17.0  ...  1168.49150  DC_FTA_TOTAL
4228  DC_FTA_TOTAL                           17.0  ...  2042.80551  DC_FTA_TOTAL
4229  DC_FTA_TOTAL                           17.0  ...   886.47354  DC_FTA_TOTAL

[4230 rows x 8 columns]

In [11]:
Imeasures

     Goal  ...            UniqueIDNew
0       1  ...  SI_POV_EMP1BOTHSEX15+
1       1  ...     SI_POV_NAHCALLAREA
2       1  ...        SI_COV_SOCASTQ1
3       1  ...    SP_ACS_BSRVH2ORURAL
4       1  ...            SG_DSR_SILN
..    ...  ...                    ...
126    17  ...             GF_FRN_FDI
127    17  ...            DT_TDS_DECT
128    17  ...        IT_NET_BBNDANYS
129    17  ...            IT_USE_ii99
130    17  ...           DC_FTA_TOTAL

[131 rows x 6 columns]

## Filter data

In [18]:
FilteredIndo=Indonesia.copy()
is_included=FilteredIndo['UniqueIDNew'].isin(Imeasures['UniqueIDNew'])
FilteredIndo=FilteredIndo[is_included]
FilteredIndo.to_csv('/content/drive/MyDrive/Colab Notebooks/Practicum SDG Networks/Data/Indonesia data after selecting indicator and measurement.csv')
FilteredIndo

                                            UniqueID  ...            UniqueIDNew
12    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
19    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
28    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
43    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
48    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
...                                              ...  ...                    ...
4225           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4226           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4227           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4228           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4229           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL

[665 rows x 8 columns]

In [20]:
FilteredGuate=Guatemala.copy()
is_included=FilteredGuate['UniqueIDNew'].isin(Gmeasures['UniqueIDNew'])
FilteredGuate=FilteredGuate[is_included]
FilteredGuate.to_csv('/content/drive/MyDrive/Colab Notebooks/Practicum SDG Networks/Data/Guatemala data after selecting indicator and measurement.csv')
FilteredGuate

                                            UniqueID  ...            UniqueIDNew
4     SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
10    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
25    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
28    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
38    SI_POV_EMP1 BOTHSEX                 15+         ...  SI_POV_EMP1BOTHSEX15+
...                                              ...  ...                    ...
4780           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4781           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4782           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4783           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL
4784           DC_FTA_TOTAL                           ...           DC_FTA_TOTAL

[629 rows x 8 columns]